body {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 90%;
}

ul.build-types {
	li {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		display: block;
		float: left;
		width: 20%;
		height: 7em;
		padding: 0.5em;
		border: 1px solid black;
		position: relative;

		p {
			padding-bottom: 0.4em;

			&.build {
				font-size: 1.4em;
			}
		}

		&.state-0 {
			background-color: yellow;
            display: none;
		}

		&.state-1 {
			background-color: #64C320;
            display: none;
		}

		&.state-2 {
			background-color: red;
		}
	}
}

div.holder {
    position: fixed;
    bottom: 0;
    width: 100%;

    ul.view-btn {
        clear: both;

        li.btn {
            width: 33%;
            height: 50px;
            display: inline-block;
            margin: 10px 0 0 1px;
            border: black solid 1px;
            text-align: center;
            font-size: 24px;
            padding-top: 18px;

            &#state-0 {
                background-color: yellow;
            }

            &#state-1 {
                background-color: #64C320;
            }

            &#state-2 {
                background-color: red;
            }
        }

        li.on {
            color: black;
        }

        li.off {
            color: grey;
        }
    }
}

div.empty {
    height: 100px;
    display: block;
    clear: both;
}

