body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 90%;
}
ul.build-types li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 20%;
  height: 7em;
  padding: 0.5em;
  border: 1px solid black;
  position: relative;
}
ul.build-types li p {
  padding-bottom: 0.4em;
}
ul.build-types li p.build {
  font-size: 1.4em;
}
ul.build-types li.state-0 {
  background-color: yellow;
}
ul.build-types li.state-1 {
  background-color: #64C320;
}
ul.build-types li.state-2 {
  background-color: red;
}
