<ul class="build-types">
	<% for (var i = 0; i < this.length; i++) { %>  
		<%== $.View("//app/project/list/views/build_type.ejs", this[i]) %>
      <% } %>
    <div class="empty"></div>    
</ul>
<div class="holder">
  <div class="fullPage">full page</div>
  <ul class="view-btn">
    <li class="btn off" id="state-0">Build Status: Unknown</li>
    <li class="btn off" id="state-1">Build Status: Good</li>
    <li class="btn on" id="state-2">Build Status: Broken</li>
  </ul>
</div>

